@import "./tokens.css";

/* Определение шрифта OmegaUI */
@font-face {
  font-family: 'omegaUI';
  src: url('../assets/fonts/OmegaUI-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'omegaUI';
  src: url('../assets/fonts/OmegaUI-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'omegaUI';
  src: url('../assets/fonts/OmegaUI-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'omegaUI';
  src: url('../assets/fonts/OmegaUI-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Базовые стили */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

  body {
  font-family: omegaUI, "omegaUI Fallback", ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
